@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model OrderDetails
@{
    ViewData["Title"] = @localizer["Checkout"];
}

<section id="content">

    <div class="container">

        <div class="row">

            <div class="col-md-8">
                <div class="padding25">
                    <h4> @localizer["Please enter your information"]</b></h4>
                </div>
                <div class="text-danger" asp-validation-summary="All"></div>
                <form method="post">
                    <div class="row">

                        <div class="form-group col-xs-12">
                            <input asp-for="AdresTanimi" class="form-control input-lg" placeholder=" @localizer["Address Description"]">
                        </div>

                        <div class="form-group col-xs-12">
                            <input asp-for="Adres" class="form-control input-lg" placeholder=" @localizer["Address"]">
                        </div>

                        <div class="form-group col-xs-12">
                            <input asp-for="Sehir" class="form-control input-lg" placeholder=" @localizer["City"]">
                        </div>

                        <div class="form-group col-xs-12">
                            <input asp-for="Semt" class="form-control input-lg" placeholder=" @localizer["District"]">
                        </div>

                        <div class="form-group col-xs-12">
                            <input asp-for="Telefon" class="form-control input-lg" placeholder=" @localizer["Phone"]">
                        </div>

                        <div class="form-group col-xs-12 text-left">
                            <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-send fa-fw"></i>  @localizer["Complete Order"]</button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="col-md-4">




            </div>

        </div>

    </div>



</section>

