@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ProductDetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-5 col-md-push-2">

                <div id="product-main-img">
                    @foreach (var img in Model.ProductImages)
                    {
                        <div class="product-preview">
                            <img alt="" src="/images/products/@img.ImageName" />
                        </div>
                    }
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    @foreach (var img in Model.ProductImages)
                    {
                        <div class="product-preview">
                            <img alt="" src="/images/products/@img.ImageName" />
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Model.Product.ProductName</h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                    <div>
                        <h3 class="product-price">$@Model.Product.Price</h3>
                        <span class="product-available">@localizer["Stock"]: @Model.Product.Stock</span>
                    </div>
                    <p>@Model.Product.Description</p>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post" class="form-inline">

                        <div class="add-to-cart">
                            <input type="hidden" name="ProductId" value="@Model.Product.ProductId" />
                            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                            @if (@Model.Product.IsApproved || @Model.Product.Stock != 0)
                            {
                                <div class="form-group qty">
                                    <div class="input-group">
                                        <span class="input-group-addon">@localizer["Qty"]</span>
                                        <input type="number" size="4" name="quantity" class="form-control" value="1" min="1" step="1">
                                    </div>
                                </div>
                                <button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> @localizer["Add to cart"]</button>
                            }
                            else
                            {
                                <div class="form-group qty">
                                    <div class="input-group">
                                        <span class="input-group-addon">@localizer["Qty"]</span>
                                        <input type="number" size="4" name="quantity" class="form-control" value="0" min="1" step="1" disabled>
                                    </div>
                                </div>
                                <span class="product-available">@localizer["Not on sale"]</span>
                            }



                        </div>
                    </form>
                    <form asp-controller="Product" asp-action="AddToWishList" method="post" class="form-inline">
                        <input type="hidden" name="ProductId" value="@Model.Product.ProductId" />
                        
                        <ul class="product-btns">
                            <button class="product-btns"><i class="fa fa-heart-o"></i> @localizer["Add to wishlist"]</button>
                        </ul>
                    </form>

                    <ul class="product-links">

                        <li>@localizer["Category"]:</li>
                        @foreach (var item in Model.Categories)
                        {
                            <li>
                                <a asp-controller="Products" asp-action="@item.CategoryName">@localizer[@item.CategoryName]</a>
                            </li>
                        }
                    </ul>


                </div>
            </div>
        </div>



        <div class="col-md-12 padding25" style="margin-top:60px">


            <ul class="nav nav-tabs">
                <li class=""><a data-toggle="tab" href="#description" aria-expanded="false">@localizer["Description"]</a></li>
                <li class="active"><a data-toggle="tab" href="#spec" aria-expanded="true">@localizer["Specifications"]</a></li>
            </ul>


            <div class="tab-content">

                <!-- description tab start -->
                <div id="description" class="tab-pane fade">
                    @Html.Raw(Model.Product.HtmlContent)
                </div>
                <!-- description tab end -->
                <!-- Specifications tab start -->
                <div id="spec" class="tab-pane fade active in">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <tbody>
                                @foreach (var item in Model.ProductAttributes)
                                {
                                    <tr>
                                        <td><b>@item.Attribute</b></td>
                                        <td>@item.Value</td>
                                    </tr>
                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>



    </div>

</div>