@model CatalogListModel
@{
    ViewData["Title"] = "CatalogList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Catalog</h2>
<hr />


<div class="card">
    <div class="card-header">
        Categories
    </div>
    
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th scope="col">CategoryName</th>
                    <th style="width:135px;"></th>

                </tr>
            </thead>
            <tbody id="categories">

                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <th>@item.CategoryId</th>
                        <td>@item.CategoryName</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-controller="Admin" asp-action="EditCategory" asp-route-id="@item.CategoryId">
                                Edit

                            </a>

                            <a class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="DeleteCategory" asp-route-id="@item.CategoryId">Delete</a>

                        </td>

                    </tr>
                }

            </tbody>
        </table>
        <div class="card-footer">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addCategoryModal">Create</button>

            @Html.Partial("_AddCategoryForm", new Category())
           
        </div>
</div>

<hr />
<div class="card">
    <div class="card-header">
        Products
    </div>
    
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>ProductName</th>
                    <th>IsAprroved</th>
                    <th>IsHome</th>
                    <th>IsFeatured</th>
                    <th style="width:135px;"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                <tr>
                    <th>@item.ProductId</th>
                    <td>
                        <img src="~/images/products/tn/@item.Image" width="60" />
                    </td>
                    <th>@item.ProductName</th>
                    <th>
                        @if (item.IsApproved)
                        {
                            <span data-feather="check-square"></span>
                        }
                        else
                        {
                            <span data-feather="x-square"></span>
                        }

                    </th>
                    <th>

                        @if (item.IsHome)
                        {
                            <span data-feather="check-square"></span>
                        }
                        else
                        {
                            <span data-feather="x-square"></span>
                        }

                    </th>
                    <th>
                        @if (item.IsFeatured)
                        {
                            <span data-feather="check-square"></span>
                        }
                        else
                        {
                            <span data-feather="x-square"></span>
                        }
                    </th>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-controller="Admin" asp-action="EditProduct" asp-route-id="@item.ProductId">Edit</a>
                        <a class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                    </td>
                </tr>
                }

            </tbody>
        </table>
        <div class="card-footer">
            <a class="btn btn-primary" asp-controller="Admin" asp-action="AddProduct">Create</a>
        </div>
</div>