@model AdminEditCategoryModel
@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Edit Category</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Category</h6>
        </div>
        <div class="card-body">
            <form asp-controller="Admin" asp-action="EditCategory" method="post">
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    <div class="text-danger" asp-validation-summary="All">
                        <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
                        <div class="form-group">
                            <label asp-for="CategoryName"></label>
                            <input asp-for="CategoryName" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container-fluid">

    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Products</h6>
        </div>
        <div class="card-body">


            @if (Model.Products.Count() == 0)
            {
                <div class="alert alert-primary" role="alert">
                    No Products Found
                </div>
            }
            else
            {
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>ProductName</th>
                            <th>IsAprroved</th>
                            <th>IsHome</th>
                            <th>IsFeatured</th>
                            <th style="width:155px;"></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <th>@item.ProductId</th>
                                <td>
                                    <img src="~/images/products/tn/@item.Image" width="60" />
                                </td>
                                <th>@item.ProductName</th>
                                <th>
                                    @if (item.IsAprroved)
                                    {
                                        <span data-feather="check-square"></span>
                                    }
                                    else
                                    {
                                        <span data-feather="x-square"></span>
                                    }

                                </th>
                                <th>

                                    @if (item.IsHome)
                                    {
                                        <span data-feather="check-square"></span>
                                    }
                                    else
                                    {
                                        <span data-feather="x-square"></span>
                                    }

                                </th>
                                <th>
                                    @if (item.IsFeatured)
                                    {
                                        <span data-feather="check-square"></span>
                                    }
                                    else
                                    {
                                        <span data-feather="x-square"></span>
                                    }
                                </th>
                                <td>
                                    <form asp-action="RemoveFromCategory" asp-controller="Admin" method="post">
                                        <input type="hidden" id="CategoryId" name="CategoryId" value="@Model.CategoryId" />
                                        <input type="hidden" id="ProductId" name="ProductId" value="@item.ProductId" />

                                        <button type="submit" class="btn btn-danger btn-sm delete">Remove</button>

                                    </form>

                                    <button class="btn btn-primary btn-sm">Edit</button>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }



            <div class="card-footer">
                <a class="btn btn-primary" asp-controller="Admin" asp-action="AddProduct">Create</a>
            </div>

        </div>
    </div>
</div>
@section scripts{

    <script>
        $(".delete").click(function (event) {
            event.preventDefault();//sayfa postback olmasın yenilenmesin.
            var form = $(this).parent();//delete butonunun parenti olan form nesnesine ulaşıyoruz.

            var row = form.parent("td").parent("tr");

            var token = $('input[name="__RequestVerificationToken"]', form).val();

            var data = { categoryId: $("#CategoryId", form).val(), productId: $("#ProductId", form).val() };
            //parenti form olan categoryId nin values unu alıyoruz.

            var dataWithToken = $.extend(data, { '__RequestVerificationToken': token });


            $.ajax(
                {
                    url: form.attr("action"),
                    type: "Post",
                    beforeSend: function () {
                        $("ajax-loader").show();
                    },
                    complete: function () {
                        $("ajax-loader").hide();
                    },
                    success: function () {
                        row.remove();
                    },
                    error: function () {

                    }
                });

        });

    </script>

}
